{% load static %}
<!-- {% load static %} -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jagadish Portfolio</title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css">
</head>
<body>
    <div id="part">
    <header class="cont1" id="nav1">
            <nav class="ncont" id="nnav">
                <h3 id="spword"><a href="" ><span id="sl">J</span><span id="fl">agadish</span></a></h3>
                <!-- <input type="checkbox" id="click"> -->
                <!-- <label for="click" class="checkbtn"> -->
                   
                <!-- </label> -->
                <ul class="ulcont " id="ulnav">
                    <!-- <li id="spword"><a href="main.html" >J agadish</a></li> -->
                    <li class="bottomline"><a href="#homemaindiv" class="menu">Home</a></li>
                    <li class="bottomline"><a href="#ABOUTME" class="menu">About</a></li>
                    <li class="bottomline"><a href="#qtitle" class="menu">Qualification</a></li>
                    <li class="bottomline"><a href="#skills" class="menu">Skills</a></li>
                    <li class="bottomline"><a href="#resume" class="menu">Resume</a></li>
                    <li class="bottomline"><a href="#contact" class="menu">Contact</a></li>
                </ul>
                <div class="menu-btn">
                    <i id ="menubar" class="uil uil-bars"></i>
                </div>
        </nav>
    </header>
        <div class="homemaindiv" id="homemaindiv">
            <div class="inner" id="inner">
            <div id="namewrap">
                <h1>Jagadish Murugesan</h1>
            </div>
            <div id="contwrap">
                <div id="edul">I'm a <span class="typing"></span>
                </div>
                <!-- <ul>
                    <li><span>Fresher</span></li>
                    <li><span>Computer Engineer</span></li>
                    <li><span>Web Developer</span></li>
                    <li><span>Software Developer</span></li>
                </ul> -->
            </div>
            </div>
        </div>
    </div>
       
        <div class="aboutmain" id="aboutmain">
            <div class="title" id="title">
                <h1 id="ABOUTME" class="bottomline">ABOUT ME</h1>
            </div>
            <p id="abome">Enthusiastic engineering graduate with basic knowledge in coding and design. Proficient in C++, HTML 5, CSS, JavaScript, Django framework and Python. Ability to learn new softwares and technologies quickly. Capability to work in teams by providing valuable support.</p>
            <ul id="about">
                <li class="fr"><span class="ab">NAME  : </span><span> Jagadish.M</span></li>
                <li class="fl"><span  class="ab cd">AGE  : </span><span> 23</span></li>
                <li class="fr"><span class="ab">NATIVE LANGUAGE  : </span><span> Tamil</span></li>
                <li class="fl"><span class="ab">LOCATION  : </span><span> Mumbai,Maharashtra</span></li>
                <li class="fr"><span class="ab">EXPERIENCE  : </span><span> Fresher</span></li>
                <li class="fl"><span class="ab">DEGREE  : </span><span> Bachelor of Computer Engineering</span></li>
                <li class="fr"><span class="ab">PHONE NO  : </span><span> 74539583748</span></li>
                <li class="fl"><span class="ab">EMAIL-ID  : </span><span> jagadish.nadar41@gmail.com</span></li>
            </ul>
                </div>
               
            <section class="qualcont " id="qualcont">
                <div id="titlequa">
                <h1 class="qtitle bottomline" id="qtitle">QUALIFICATION</h1>
            </div>
                <div class="qcont">
                    <div class="qtab">
                        <div class="qbutton">
                            <i class="uil uil-airplay qicon"></i>
                            <span>Education</span> 
                        </div>
                        <div class="qualsec1">
                            <div class="qualcont1 quactive" >
                                <div class="qdata">
                                    <div id="sch">
                                        <h2 class="comti">SSC </h2>
                                        <span class="gracoll">People's welfare society high school</span>
                                        <div class="quacal">
                                            <i class="uil uil-calendar-alt"></i>
                                            2005 - 2015 
                                        </div>
                                    </div>
                                    <div>
                                        <span class="quaroun"></span>
                                        <span class="qualine"></span>
                                    </div>
                                </div>
                                <div class="qdata">
                                    <div></div>
                                    <div>
                                        <span class="quaroun"></span>
                                        <span class="qualine"></span>
                                    </div>
                                    <div class="diplo">
                                        <h2 class="comti">Diploma in Computer Engineering</h2>
                                        <span class="gracoll">Vidyalankar polytechnic</span>
                                        <div class="quacal">
                                            <i class="uil uil-calendar-alt"></i>
                                            2015 - 2018
                                        </div>
                                    </div>
                                </div>
                                <div class="qdata">
                                    <div id="sch">
                                        <h2 class="comti">Computer Engineering</h2>
                                        <span class="gracoll">S.I.E.S graduate school of technologies</span>
                                        <div class="quacal">
                                            <i class="uil uil-calendar-alt"></i>
                                            2018 - 2022
                                        </div>
                                    </div>
                                    <div>
                                        <span class="quaroun"></span>
                                        <!-- <span class="qualine"></span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

                 
            <div class="wrap" id="wrap">
                <div id="title3">
                    <h1 id="skills" class="bottomline">SKILLS</h1>
                </div>
            <div class="wrapper">
                        <div class="col-md-12">
                            <div class="skillbar" data-percent="90%">
                                <div class="skillbar-title">HTML5</div>
                                <div class="skill-bar-percent">90%</div>
                                <div class="skillbar-bar" style="width: 90%;"></div>
                            </div>
            
                            <div class="skillbar" data-percent="70%">
                                <div class="skillbar-title">CSS</div>
                                <div class="skill-bar-percent">70%</div>
                                <div class="skillbar-bar" style="width: 70%;"></div>
                            </div>
            
                            <div class="skillbar" data-percent="60%">
                                <div class="skillbar-title">JAVASCRIPT</div>
                                <div class="skill-bar-percent">60%</div>
                                <div class="skillbar-bar" style="width: 60%;"></div>
                            </div>
            
                            <div class="skillbar" data-percent="80%">
                                <div class="skillbar-title">PYTHON</div>
                                <div class="skill-bar-percent">80%</div>
                                <div class="skillbar-bar" style="width: 80%;"></div>
                            </div>

                            <div class="skillbar" data-percent="60%">
                                <div class="skillbar-title"> DJANGO FRAMEWORK </div>
                                <div class="skill-bar-percent">60%</div>
                                <div class="skillbar-bar" style="width: 60%;"></div>
                            </div>

                            <div class="skillbar" data-percent="50%">
                                <div class="skillbar-title"> MYSQL </div>
                                <div class="skill-bar-percent">50%</div>
                                <div class="skillbar-bar" style="width: 50%;"></div>
                            </div>

                            <div class="skillbar" data-percent="60%">
                                <div class="skillbar-title"> MONGODB </div>
                                <div class="skill-bar-percent">50%</div>
                                <div class="skillbar-bar" style="width: 50%;"></div>
                            </div>

                            <div class="skillbar" data-percent="30%">
                                <div class="skillbar-title"> NODEjs </div>
                                <div class="skill-bar-percent">30%</div>
                                <div class="skillbar-bar" style="width: 30%;"></div>
                            </div>
        </div>
        </div>
    </div>
   
    <div class="resumemain">
    <div class="resumecontainer">
        <div id="restitle">
            <h1 id="resume" class="bottomline">Resume</h1>
        </div>
    </div>
    <div class="downl">
    <p>Click on Download for my resume</p>
    <a href="/downloadfile" download="Jagadish_resume">
        <span>Download </span>
        <i class="uil uil-download-alt"></i>
    </a>
    </div>
</div>

    <div class="contactmain">
        <div id="contacttitle">
            <h1 id="contact" class="bottomline">contact</h1>
        </div>
        <div class="innercontact">
        <div class="condet">
            <div class="de"id="loca">
                <i class="uil uil-location-point"></i>
                <span>Location :</span>
                <p>   Shiva shakti nagar,Behind B.M.C school,Dhorwada,Dharavi,Mumbai-400017</p>
            </div>
            <div class="de" id="ema">
                <i class="uil uil-envelope-alt"></i>
            <span>Email : </span>
                <p>    jagadish.nadar41@gmail.com</p>
            </div>
            <div class="de" id="call">
                <i class="uil uil-phone"></i>
            <span>Call : </span>
                <p>   8169023163</p>
            </div>
        </div>
        <div class="contactform">
            <form method="post">
                <i class="fas fa-user name" id="iname" style="position: absolute;margin-left: 15px;margin-top: 15px;transform: translateY(-14%);font-size: 15px;color: #bbb;"></i>
                <input type="text" placeholder="Enter your name" name="name" id="name" required>
                <i class="fas fa-envelope" id="iemail" email style="position: absolute;margin-left: 15px;margin-top: 15px;transform: translateY(-14%);font-size: 15px;color: #bbb;"></i>
                <input type="email" placeholder="Enter your email" name="email" id="email" required><br>
                <input type="text" placeholder="Subject" name="subject" id="subject" required><br>
                <textarea placeholder="Message" name="message" id="message" required></textarea><br>
                <button type="submit" value="submit" id="send" onclick="mess()" style="margin: auto";>Send Message</button>
                <div class="alert alert-success success" id ="success" role="alert">
                    The Message sent Successfully. 
                  </div><br><br>
                  <div class="alert alert-danger danger" id="danger" role="alert">
                     Fields Can't be Empty!!!
                  </div>
            </form>
        </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col footlink">
                    <h4>Portfolio</h4>
                    <ul>
                        <li><a href="#homemaindiv">HOME</a></li>
                        <li><a href="#qtitle">QUALIFICATION</a></li>
                        <li><a href="#skills">SKILL</a></li>
                        <li><a href="#contact">CONTACT ME</a></li>
                    </ul>
                </div>
                <div class="footer-col footab">
                    <h4>ABOUT ME</h4>
                    <span>Enthusiastic engineering graduate with basic knowledge in coding and design. Proficient in C++, HTML 5, CSS, JavaScript, Django framework and Python. Ability to learn new softwares and technologies quickly. Capability to work in teams by providing valuable support.</span>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/jmcc.jagadish"><i class="fab fa-facebook-f"></i></a>
                        <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
                        <a href="https://www.instagram.com/jmccjagadish/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/jagadish-murugesan-4b1962230"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/Jagadisg"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                <div id="copyri" class="copy" style="margin: auto;margin-top: 36px; font-size: 1.6rem; padding-left: 5px;">
                    <p>&copy; 2022 Jagadish portfolio. All rights reserved.</p>
                </div>
            </div>
        </div>
   </footer> 
                <!-- <div>
                    <img src="">
                </div> -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" ></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll",function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky",window.scrollY > 0);
        })
        $('.menu-btn').click(function(){
            $('nav ul').toggleClass("active");
            $('.menu-btn i').toggleClass("active");
        });
        $('.menu').click(function(){
            $('nav ul').toggleClass("active");
        });
        $('.menu').click(function(){
            var element = document.getElementById("menubar");
            element.classList.remove('active')
        });
        var typed = new Typed(".typing",{
            strings : ["Fresher","Computer Engineer"," Web Developer","Software Developer"],
            typeSpeed: 100,
            backSpeed: 60,
            loop: true
        });
        function mess(){
            var Name = document.getElementById("name");
            var email = document.getElementById("email");
            var subject = document.getElementById("subject");
            var message = document.getElementById("message");
            const success = document.getElementById("success");
            const danger = document.getElementById("danger");
            if (Name.value === '' || email.value === '' || subject.value === '' || message.value === ''){
                danger.style.display = 'block';
            }
            else{
                setTimeout(() => {
                    Name.value = '';
                    email.value = '';
                    subject.value = '';
                    message.value = '';
                }, 2000);
                success.style.display = 'block';
            }
            setTimeout(() => {
                danger.style.display = 'none';
                success.style.display = 'none';
            } ,4000);
        }
    </script>
</body>

</html>